.button {
  .heading-small();

  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-white;
  background-color: @color-basic-green;
  padding: 10px 26px;
}
