.button {
  display: block;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-white;
  background-color: @color-basic-green;
  padding: 10px 26px;
}
