.catalog-list {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 141px;
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 79px;
  }
}

.catalog__title {
  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    margin-bottom: 165px;
  }
}

.catalog-list__item-container {
  @media (min-width: @tablet-width) {
    position: relative;
    padding: 158px 37px 40px 37px;
    background-color: @color-basic-grey;
  }

  @media (min-width: @desktop-width) {
    width: 171px;
    padding-top: 149px;
    padding-bottom: 39px;;
  }
}

.catalog-add__item-card {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.catalog-item__wrapper {
  display: flex;
  align-items: center;
  max-width: 280px;
  margin: 15px 0 20px;
  padding: 0;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin: 0;
  }
}

.catalog-item__title {
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 16px;
  max-width: 76px;
  color: @color-special-light-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    max-width: 135px;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 58px;
    margin-left: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 17px;
    margin-top: 2px;
  }
}

.catalog-item__content {
  .base-lato();

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  flex: 1 1 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.catalog-item__image-wrapper {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -52px;
    margin-bottom: 41px;
  }
}

.catalog-item__image-wrapper--big {
  @media (min-width: @tablet-width) {
    top: -69px;
  }
}

.catalog-item__info {
  width: 100%;
  color: @color-special-dark-grey;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    width: 250px;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
    margin-bottom: 38px;
  }
}

.catalog-info__key {
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @color-extra-light-grey;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.catalog-info__value {
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @color-extra-light-grey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
  }
}

.catalog-item__button {
  display: block;
  box-sizing: border-box;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    max-width: 250px;
    margin: 0 auto;
  }
}

.catalog__more {
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    padding: 50px 36px 39px 36px;
    border: 2px @color-basic-grey solid;
  }
}

.catalog-more__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 250px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
  }
}

.catalog-more__icon {
  display: block;
  background-image: url("../../img/icon/plus-icon.svg");
  width: 30px;
  height: 30px;

  @media (min-width: @tablet-width) {
    display: block;
    background-image: url("../../img/icon/plus-icon-tablet-desktop.svg");
    width: 60px;
    height: 60px;
  }
}

.catalog-more__title {
  color: @color-extra-black;
  margin-top: 23px;
  margin-bottom: 8px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 23px;
    max-width: 134px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 42px;
  }
}

.catalog-more__title--add-card {

  @media (min-width: @desktop-width) {

  }
}

.catalog-more__text {
  .base-lato();

  font-size: 12px;
  line-height: 16px;
  color: @color-special-dark-grey;
  margin-top: 0;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    text-align: center;
    margin-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 90px;
  }
}

.catalog-more__link {
  width: 100%;
  box-sizing: border-box;
  color: @color-special-dark-grey;
  background-color: @color-basic-grey;
  margin-bottom: 25px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.catalog-more__link:hover,
.catalog-more__link:active {
  background-color: @color-extra-grey;
}


