.container {
  margin: 0 auto;
  width: 280px;
  padding-left: @container-horizontal-padding;
  padding-right: @container-horizontal-padding;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding-left: @container-horizontal-padding-tablet;
    padding-right: @container-horizontal-padding-tablet;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding-left: @container-horizontal-padding-desktop;
    padding-right: @container-horizontal-padding-desktop;
  }
}

.container--small {
  @media (min-width: @tablet-width) {
    width: 628px;
    padding-left: @container-horizontal-padding-tablet-small;
    padding-right: @container-horizontal-padding-tablet-small;
  }
}
