.header {
  padding-top: 13px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    &,
    &.header__wrapper_static {
      margin-bottom: 65px;
    }
  }

  @media (min-width: @desktop-width) {
    &,
    &.header__wrapper_static {
      margin-bottom: 0;
    }
  }
}

.header__wrapper_static {
  margin-bottom: 211px;
}

.header__wrapper--catalog {
  @media (min-width: @desktop-width) {
    padding-bottom: 74px;
  }
}

.header__logo-wrapper {
  display: contents;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
  }
}

.header__logo-wrapper:hover {
  opacity: 80%;
  cursor: pointer;
}

.header__logo-wrapper:active {
  opacity: 60%;
}

.header__logo-image {
  width: 33px;
  height: 38px;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 60px;
  }
}

.header__logo-text {
  @media (min-width: @tablet-width) {
    padding-left: 13px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 14px;
  }
}
