.hero {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.hero__wrapper {
  display: flex;
  margin-left: -@container-horizontal-padding;
  margin-right: -@container-horizontal-padding;
  padding-left: @container-horizontal-padding;
  padding-right: @container-horizontal-padding;
  flex-direction: column;
  align-items: center;
  content: "";
  position: relative;
  background-size: 320px 302px;
  background-image: url("../../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 27px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    align-items: start;
    position: relative;
    background-image: none;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.hero__title {
  .base-heading();

  font-size: 36px;
  line-height: 36px;
  color: @color-white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @color-black;
    max-width: 416px;
    text-align: left;
    margin-bottom: 40px;
    margin-left: 90px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 109px;
    margin-left: 100px;
  }
}

.hero__text {
  .base-heading();

  font-size: 14px;
  line-height: 14px;
  color: @color-white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @color-black;
    margin-top: 0;
    margin-bottom: 21px;
    margin-left: 90px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 100px;
  }
}


.hero__image {
  z-index: 1;
  width: 280px;
  height: 270px;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    right: 241px;
    top: 28px;
  }
}


.hero__button {
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 230px;
    max-width: 244px;
    font-size: 20px;
    line-height: 26px;
    z-index: 2;
    margin-left: 90px;
    margin-top: 0;
    margin-bottom: 0;
  }


  @media (min-width: @desktop-width) {
    position: static;
    margin-top: 32px;
    margin-bottom: 266px;
    margin-left: 100px;
  }
}
