.index-background-image {
  @media (min-width: @desktop-width) {
    width: 720px;
    height: 694px;
    position: absolute;
    background-image: url("../../img/index-background-desktop.jpg");
    top: 0;
    right: 0;
  }
}
