.location {
  .fluid();

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.location__wrapper {
  background-color: @color-basic-grey;
}

.location__description {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 27px;
  padding-bottom: 26px;
  padding-left: @container-horizontal-padding;
  padding-right: @container-horizontal-padding;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 70px;
    max-width: 628px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
    left: calc(50vw - 720px + @container-horizontal-padding-desktop);
    top: 95px;
    width: 407px;
    padding: 60px 78px 60px 80px;
    background-color: @color-white;
  }
}


.location__wrapper--small {
  @media (min-width: @tablet-width) {
    margin-left: -@container-horizontal-padding-tablet-small;
    margin-right: -@container-horizontal-padding-tablet-small;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.location__wrapper--light {
  background-color: @color-white;
}

.location__label {
  text-transform: uppercase;
  min-width: 140px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 163px;
  }
}

.location__address {
  .base-lato();

  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: @color-special-dark-grey;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    max-width: 157px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    align-items: flex-start;
  }
}

.location__city {
  margin-top: 19px;
}


.location__pin {
  position: absolute;
  top: 38%;
  left: 42%;

  @media (min-width: @tablet-width) {
    top: 36%;
    left: 43%;
  }

  @media (min-width: @desktop-width) {
    top: 32%;
    left: 63%;
  }
}
