.location {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.location__wrapper {
  background-color: @color-basic-grey;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -@container-horizontal-padding;
  margin-right: -@container-horizontal-padding;

  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: @container-horizontal-padding;
  padding-right: @container-horizontal-padding;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding: 60px 70px;
    margin-left: -@container-horizontal-padding-tablet;
    margin-right: -@container-horizontal-padding-tablet;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
    left: 0;
    top: 95px;
    width: 407px;
    padding: 60px 78px 60px 80px;
    background-color: @color-white;
  }
}


.location__wrapper--small {
  @media (min-width: @tablet-width) {
    margin-left: -@container-horizontal-padding-tablet-small;
    margin-right: -@container-horizontal-padding-tablet-small;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.location__wrapper--light {
  background-color: @color-white;
}

.location-label {
  text-transform: uppercase;
  min-width: 140px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 163px;
  }
}

.location-address {
  .base-lato();

  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: @color-special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    max-width: 157px;
  }
}

.map-container {
  position: relative;
  margin-left: -@container-horizontal-padding;
  margin-right: -@container-horizontal-padding;

  @media (min-width: @tablet-width) {
    margin-left: -@container-horizontal-padding-tablet;
    margin-right: -@container-horizontal-padding-tablet;
  }

  @media (min-width: @desktop-width) {
    margin-left: -@container-horizontal-padding-desktop;
    margin-right: -@container-horizontal-padding-desktop;
  }
}

.map-container--small {
  @media (min-width: @tablet-width) {
    margin-left: -@container-horizontal-padding-tablet-small;
    margin-right: -@container-horizontal-padding-tablet-small;
  }

  @media (min-width: @desktop-width) {
    margin-left: -@container-horizontal-padding-desktop;
    margin-right: -@container-horizontal-padding-desktop;
  }
}

.location__pin {
  position: absolute;
  top: 38%;
  left: 42%;
}
