.main-header {
  margin-top: 13px;
  margin-bottom: 14px;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("../../img/logo/logo-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: @color-white;
  cursor: pointer;
}

.main-nav__list {
  display: none;
}
