.programs-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
}

.programs-list__item {
  background-color: @color-basic-grey;
  padding: 20px;
}

.programs-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.programs-list__wrapper {
  display: flex;
}
