.results {
  .fluid();

  background-color: @color-middle-grey;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: @container-horizontal-padding;
  padding-right: @container-horizontal-padding;

  @media (min-width: @tablet-width) {
    position: relative;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: @container-horizontal-padding-tablet;
    padding-right: @container-horizontal-padding-tablet;
  }

  @media (min-width: @desktop-width) {
    padding-left: @container-horizontal-padding-desktop;
    padding-right: @container-horizontal-padding-desktop;
  }
}

.results__content {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: unset;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    display: grid;
    column-gap: 228px;
    grid-template-columns: 432px 1fr;
    grid-template-areas:
      "title         image"
      "text          image"
      "list          image"
      "label-wrapper image";
    margin-left: -110px;
    width: calc(100% + @container-horizontal-padding-desktop * 2);
    padding: 0 calc(50vw - 720px + 110px);
    background-color: @color-basic-grey;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, @color-white, @color-white);
    background-position: 0 0;
    background-size: 100% 134px;
  }
}

.results__description {
  @media (min-width: @tablet-width) {
    max-width: 708px;
    margin: 0 auto;
  }
}

.results__title {
  .base-heading();

  grid-area: title;
  font-size: 36px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.results__text {
  grid-area: text;
  margin-top: 0;
  margin-bottom: 20px;
  color: @color-special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }


  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 69px;
  }
}

.results__label-wrapper {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
    margin-top: 11px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin: 0;
    gap: 66px;
  }
}

.results__label {
  .base-heading();

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.results__label--text {
  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.results__label--value {
  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.results__image-wrapper {
  grid-area: image;
  justify-self: center;

  @media (min-width: @tablet-width) {
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, @color-white, @color-white);
    background-position: 0 0;
    background-size: 100% 152px;
    background-color: @color-middle-grey;
    width: calc(100% + @container-horizontal-padding-tablet * 2);
    display: flex;
    justify-content: center;
    padding-bottom: 102px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    background-color: @color-basic-grey;
  }
}
