.social__link {
  color: @color-dark-grey;

  &:hover {
    color: @color-basic-green;
  }

  &:active {
    opacity: 0.3;
    color: @color-basic-green;
  }
}

.social__link--telegram {
  @media (min-width: @tablet-width) {
    padding-left: 4px;
  }
}
