.work-principle__wrapper {
  padding-top: 0;

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}


.work-principle__title {
  .base-heading();

  font-size: 36px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {

    font-size: 60px;
    line-height: 60px;
    margin-bottom: 73px;
  }
}

.work-principle__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 20px;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 383px 1fr;
    row-gap: 77px;
    column-gap: 0;
    counter-reset: number 0;
    margin-bottom: 92px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.work-principle__item {
  display: inline-block;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 250px;
    counter-increment: number 1;

    &:nth-child(1) {
      width: 230px;
    }

    &:nth-child(2) {
      width: 246px;
    }

    &:nth-child(3) {
      width: 247px;
    }

    &:nth-child(4) {
      width: 249px;
    }

    &::after {
      .base-heading();

      position: absolute;
      z-index: -1;
      content: counter(number);
      top: -39px;
      right: 0;
      font-size: 280px;
      line-height: 280px;
      color: @color-basic-grey;
    }
  }
}

.work-principle__item:nth-child(2) {
  @media (min-width: @desktop-width) {
    padding-left: 20px;
  }
}

.work-principle__item--icon {
  display: flex;
  gap: 20px;
  align-items: center;


  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: start;
    gap: 31px;
  }
}

.work-principle__item--icon::before {
  flex-shrink: 0;
  background-position: center;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-color: @color-basic-green;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.work-principle__item--icon-leaf::before {
  background-image: url("../img/icon/icon-leaf.svg");
  background-size: 30px 32px;
}

.work-principle__item--icon-tub::before {
  background-image: url("../img/icon/icon-tub.svg");
  background-size: 26px 29px;
}

.work-principle__item--icon-eat::before {
  background-image: url("../img/icon/icon-eat.svg");
  background-size: 25px 30px;
}

.work-principle__item--icon-alarm::before {
  background-image: url("../img/icon/icon-alarm.svg");
  background-size: 26px 31px;
}

.work-principle__text {
  margin: 0;

  @media (min-width: @tablet-width) {
    .base-lato();

    font-size: 16px;
    line-height: 24px;
    margin-bottom: 57px;
  }
}

.work-principle__text--tablet-last-text {
  @media (min-width: @tablet-width) {
    margin-right: 10px;
  }
}

.work-principle__text::before {
  color: @color-special-dark-grey;
  margin: 0;
}

.work-principle__separator {
  display: none;


  @media (min-width: @desktop-width) {
    display: none;
  }
}
